/* Checkbox */
.checkbox-wrapper label {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.checkbox-wrapper input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: all .2s;
}

/* Settings */
.settings {
  margin-top: 3rem;
  text-align: center;
}

.settings__heading {
  border-bottom: .1px solid #fff;
  display: inline;
  padding-bottom: .3rem;
}

.settings__options,
.settings__article,
.settings__translation-en,
.settings__translation-ro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings__options {
  margin-top: 2rem;
  gap: 5rem;
}

.settings__article,
.settings__translation-en,
.settings__translation-ro {
  gap: 1rem;
}

/* Generator section */
.game {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__container-1,
.game__container-2 {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 400px);
  align-items: center;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  border-right: .1px solid #fff;
  border-left: .1px solid #fff;
}

.game__container-1 {
  border-top: .1px solid #fff;
 
}

.game__container-2 {
  border-bottom: .1px solid #fff;
}

.game__article-1,
.game__word-1,
.game__translation-1 {
  text-align: center;
  border-bottom: .1px solid #fff;
}

.list {
  list-style: none;
}