@import "./animations.css";

/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Links */
a {
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #fff;
  font-size: 1.50rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  padding-left: 2.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #649deb, #b3b8cc, #dcccbf);
  animation: movingGradient 8s linear infinite;
}

.nav {
  display: flex;
  gap:3rem;
  padding-right: 2.5rem;
}